// COLORES
$white: #FFF;
$coral: #FA824C;
$shiny: #4CA866;
$pastel-gray: #BDDFC7;
$blue-france: #3C91E6;
$black: #000000;
$quicksilver: #A2A2A2;
$flame: #E4572E;
$buff: #F1DD7B;

// TIPOGRAFIAS
$roboto: 'Roboto', sans-serif;
$pt-mono: 'PT Mono', monospace;

// TAMAÑO FUENTE
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;

// PESOS DE FUENTE
$pt-regular: 400;
$roboto-light: 300;
